name: CI - Vulnerability Scan (Repo)

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

permissions:
  contents: read

jobs:
  trivy-fs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "table"
          severity: "HIGH,CRITICAL"
          ignore-unfixed: true
          exit-code: "1"
